/* Global styles */

* { margin: 0;
    padding: 0;}

body {font-family: "Helvetica", sans-serif;
      background-color: hsla(272, 3%, 75%, 0.3);}

a { color: white;
    text-decoration: none;
    font-size: 1.1rem;}

li {list-style: none;}

/* Header styles */

header {background-color: white;}

h1 {font-size: 3rem;
    color: hsla(272, 22%, 46%, 1);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1rem;}

header nav {list-style: none;
            text-align: center;
            background-color: hsla(272, 22%, 46%, 1);
            border: 1px solid hsla(272, 22%, 32%, 1);} 

header li { display: inline-block;
            padding: 0.5rem 3rem;
            border-left: 4px solid hsla(272, 22%, 32%, 1);}

header li:first-of-type {border-left: none;}

html {height: 100%;}
body {height: 100%;}
.sidenav {height: 100%;}

/* Sidebar styles */

.sidenav {float: left;
          background-color: hsla(233, 8%, 22%, 1);
          width: 120px;
          padding: 4rem;}

.sidenav li {margin: 1rem;}

.sidenav p {width: 150px;
            font-size: 0.8rem;
            margin-bottom: 10px;
            border-top: 1px solid hsla(272, 22%, 32%, 1);
            padding-top: 10px;
            color: lightgray;}

.sidenav p:first-of-type {border-left: none;}

.sidenav h4 { color: white;
              font-size: 1.1rem;
              padding-bottom: 20px;}

.sidenav img {width: 140px;
              margin-top: 20px;
              border: 4px solid hsla(272, 22%, 46%, 1);}

/* Content section styles */

section { float: right;
          text-align: center;
          max-width: 70%;
          overflow: scroll;}

section h2 {padding-top: 2rem;
            padding-bottom: 2rem;
            color: color: hsla(272, 22%, 32%, 1);}

section p { padding: 1rem 4rem;
            font-size: 0.8rem;
            color: hsla(272, 3%, 16%, 1);}

section img { width: 50%;
              margin-top: 3rem;}

.content {text-align: left;
          padding-left: 4rem;
          padding-right: 4rem;}

.gallery {  float: left;
            padding-top: 1rem;
            padding-bottom: 5rem;
            padding-right: 0.5rem;}

.gallery img {display: inline;
              height: 180px;
              width: auto;
              padding: 0;
              margin: 0;}

/* Footer styles */

footer {clear: both;
        text-align: center;
        background-color: white;
        padding: 1rem;
        position: fixed;
        width: 100%;
        bottom: 0;}

footer img {height: 34px;
            padding: 1rem;}
